%div.ui.vertical.stripe.segment
  %div.ui.middle.aligned.stackable.grid.container
    .row.center-xs
      .col-sm-6
        %img{src: "taco.png", width: "60%;"}
        %h3 La mejor manera de mantener a Tu mascota Feliz
        %p.justify Solo tocas un boton, pides un cuidador y Tu mascota tendra el mejor trato, diversión, paseos, e incluso hasta cómida
      .col-sm-6
        %img{src: "wafle.png", width: "50%"}
        %br
        %br
        %h3 El cuídado de Tu mascota es nuestra prioridad
        %p.justify Nosotros nos preocupamos por Tu mascota, por eso solo contratamos personal responsable y honesto para asegurar la seguridad y felicidad de tu mascota
%div.ui.vertical.strip.segment{style: "background-color: #545454 !important"}
  %div.ui.middle.aligned.stackable.grid.container
    .row
      .col-sm-5.center-xs.middle-xs.white-text
        %br
        %br
        %h2 Sal tranquilamente
        %h4.justify Nosotros nos hacemos cargo de tu mascota cualquier día y a cualquier hora
        %h3 Despreocupate
        %i.fa.fa-paw.fa-5x
      .col-sm-5.center-xs.middle-xs
        %img{src: "cuidado.png"}
%div.ui.vertical.stripe.segment.fondo{style: "background-image: url('juego.jpg') !important"}
  %div.ui.middle.aligned.stackable.grid.container
  .row.center-xs.middle-xs{style: "color: #fff !important"}
    .col-sm-6
      %h2 Tu mascota necesita jugar y pasear
      %button.ui.blue.button Pasear
    .col-sm-6
      %h3 Deja que nosotros lo saquemos a pasear y jugar mientras Tu trabajas
